<!DOCTYPE html>
<html>
	<body>
		<h2>Send SMS</h2>

		<form action="/sendsms" method="post">
			<label for="phoneNumber">Phone Number</label><br />
			<input type="text" id="phoneNumber" name="phoneNumber" required /><br />
			<label for="sms">SMS</label><br />
			<input type="text" id="sms" name="sms" required /><br /><br />
			<input type="submit" value="Send" />
		</form>
	</body>
</html>
